// Variables
// --------------------------------------


// Fonts
$font-size-base: 16px;



// Colors
$color-primary: #3d334c;
$color-secondary: #a289cc;
$color-third: #a9b39a;
$color-third-dark: darken($color-third, 30%);

$color-gray-dark: #3e3e3e;
$color-gray-light: #a7a7a7;
