    <footer class="footer-page">
      <div class="container">
        <div class="footer-page__adress">
          <p class="footer-page__adress-text">"Диагностика-Коми"</p>
          <p class="footer-page__adress-text"><i class="icon-adress-1"></i>г. Сыктывкар, ул. Маегова, д. 21</p>
          <p class="footer-page__adress-text"><i class="icon-phone"></i>8 (8212) 44-31-11, 44-31-17</p>
        </div>

        <div class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link navigation__link--footer" href="about.html">О компании</a></li>
            <li class="navigation__item"><a class="navigation__link navigation__link--footer" href="partners.html">Наши партнеры</a></li>
            <li class="navigation__item"><a class="navigation__link navigation__link--footer" href="service.html">Сервисная служба</a></li>
            <li class="navigation__item"><a class="navigation__link navigation__link--footer" href="contacts.html">Контакты</a></li>
            <li class="navigation__item"><a class="navigation__link navigation__link--footer" href="bid.html">Отправить заявку</a></li>
          </ul>
        </div>
        <!-- /.navigation -->
      </div>
      <!-- /.container -->
    </footer>
  
  </div>
  <!-- /.wrapper -->
</body>
</html>