/* -------- logo -------- */

.logo {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 280px;
  height: 150px;
  // font-size: 0;
  background: $color-third;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -25px; 
    left: 0;
    width: 280px;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 25px solid $color-third;
  }

  &__img {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0; 
    margin: auto;
  }

  &__text {
    /* Прячем текст в логотипе */
    font: 0/0 serif;
    white-space: nowrap;
    overflow: hidden;
  }
}
