/* -------- promo -------- */

.promo {

  padding: 100px 0;
  background:transparent url('../img/bg-2_new.jpg') no-repeat;
  background-size: cover;

  &__info {
    float: left;
    max-width: 445px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(32, 46, 59, 0.7);
  }

  &__title {
    @include font-size(28px);
    margin: 0;
    margin-bottom: 30px;
    font-weight: normal;
    color: #fff;
  }

  &__link {
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    background-color: $color-secondary;

    &:hover {
      background-color: darken($color-secondary, 7%);
    }

    &--catalog {
      margin-right: 50px;
    }
  }
}
